.hflex{
display: flex;
flex-direction: row;
}
.vflex{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}


